.user-new
  .user-new-form
    .new-user-form-edit
      %h2#user_sinki ログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          メールアドレス
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email",id:'user_form'
        .field
          パスワード
          %br/
          = f.password_field :password, autocomplete: "current-password",id:'user_form'
        
        .actions
          = f.submit "ログイン",class:'btn-gradient-3d-orange',id:'user_form2'
      
