.wrapper{
  box-sizing: border-box;

  .index{
    width: 100vw;
    height: 100vh;

    .header{
      height: 10%;

    }

    .main{
      background-color: burlywood;
      height: 90%;
    }

}
  .content{
    background-color: navajowhite;
    width: 100vw;
    height: 100vh;
  }




}