a{
  text-decoration: none;
}
.index{
  width: 100vw;
  height: 100vh;
  background-image:url('/ngu.jpg');
  background-size:100% 100%;

  .header{

    .title{
      font-size: 30px;
      text-align: center;


    }

    .header_content{
      display: flex;
      float: right;
      

      #btn-top{
        font-size: 20px;
        text-align: center;
        margin: 10px;
        width: 100px;
      }


    }


  }







}