.btn-gradient-3d-orange {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.btn-gradient-3d-orange:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.lists{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;

}
.card3 {
  width: 400px;
  margin: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px #ccc;
}
.box3 {
  display: flex;
}
.image3 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}
.title3 {
  font-size: 150%;
  margin: 10px;
  color: #444;
}
.content3 {
  padding-left: 10px;
  color: #666;
}


.mypage_index{
  width: 100vw;
  height: 200vh;
  background-image:url('/top.jpg');
  background-size:100% 100%;
  

  .header_content{
      display: flex;
      float: right;
      

      #btn-top{
        font-size: 20px;
        text-align: center;
        margin: 10px;
        width: 100px;
      }
    }

   

}

.title{
  text-align: center;
  font-size: 34px;
  color: #ffffff;
}
#myp-btn{
  margin: 10px;
  font-size: 20px;
  text-align: center;
}