.mypage_show{
  width: 100vw;
  height: 100vh;
  
  
  .mypage_data{
    display: flex;
    justify-content: space-between;
  .mypage_show_day{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .mypage_weight{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    
  }

  }
  .mypage_show_lists{
    width: 100%;
    margin: 0 auto;
    

    .mypage_show_list{
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;

      .nut_list{
        width: 400px;
        margin-bottom: 20px;
         
      }
    }
    
  }
  .mypage_show_cal{
    display: flex;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


    .cal{
      text-align: right;
      font-size: 40px;


    }
    .buttons{

      .show_btn{
        margin-top: 10px;
        margin-right: 20px;
        
      }
      .delete-btn{
        margin-top: 5px;
        display: inline-block;
        padding: 0.5em 1.5em;
        text-decoration: none;
        border-radius: 4px;
        background-image: linear-gradient(45deg, rgb(40, 193, 240) 0%, #0b6ef0 100%);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        border-bottom: solid 3px #3377f7;

      }
      .delete-btn:active{
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
        border-bottom: none;
      }
      #delete{
        color: #ffffff;
      }
    }
  }

}

#edit_day{
  font-size: 40px;

}
#edit_weight{
  font-size: 40px;

}