.wrapper
  .index
    .header
      .header_content
        .header_content-left
          %i.fas.fa-dumbbell.fa-3x
        .header_content-middle
          %h3 title
        .header_content-right
          .new_user
          = link_to '新規登録', new_user_registration_path, method: :get
          .log_in
          = link_to 'ログイン', new_user_session_path, method: :get

    .main
      = link_to '活動を登録', new_mypage_path
      .content_list
      -@user.mypage.each do |mypage|
        .onelist
        %span.day
          = link_to mypage.day, mypage_path(mypage)